.reddit-video-player-root {
    display: inline-block;
    position: relative;
    float: left;
    background: #000000;
    width: 100%;
    overflow: hidden
}

.reddit-video-player-root:after {
    display: block;
    content: '';
    padding-top: 56.25%
}

.reddit-video-player-root.portrait > video, .reddit-video-player-root.portrait > img {
    height: 100% !important
}

.reddit-video-player-root.landscape > video, .reddit-video-player-root.landscape > img {
    width: 100% !important
}

.reddit-video-player-root > video, .reddit-video-player-root > img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    overflow: hidden;
    object-fit: contain
}

.reddit-video-player-root > img {
    background: #000000
}

.reddit-video-player-root > div {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden
}

.reddit-video-player-root > div > * {
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box
}

.reddit-video-player-root > div > *.left {
    left: 0
}

.reddit-video-player-root > div > *.right {
    right: 0
}

.reddit-video-player-root > div > *.top {
    top: 0
}

.reddit-video-player-root > div > *.bottom {
    bottom: 0
}

.reddit-video-player-root > div > * .reddit-video-seek-bar-root {
    position: relative;
    flex-grow: 1;
    cursor: pointer;
    height: 16px;
    margin: 4px 10px;
    width: 100%
}

.reddit-video-player-root > div > * .reddit-video-seek-bar-root .seek-bar-bar {
    position: absolute;
    left: 0;
    top: 6px;
    height: 4px;
    border-radius: 2px
}

.reddit-video-player-root > div > * .reddit-video-seek-bar-root .seek-bar-bar.seek-bar-background {
    width: 100%
}

.reddit-video-player-root > div > * .reddit-video-seek-bar-root .seek-bar-thumb {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    border-radius: 50%
}

.reddit-video-player-root > div > * .reddit-video-seek-bar-root .seek-bar-background {
    background: #FFFFFF;
    opacity: 0.2
}

.reddit-video-player-root > div > * .reddit-video-seek-bar-root .seek-bar-lookahead {
    background: #FFFFFF;
    opacity: 0.5
}

.reddit-video-player-root > div > * .reddit-video-seek-bar-root .seek-bar-buffered {
    background: #FFFFFF;
    opacity: 0.7
}

.reddit-video-player-root > div > * .reddit-video-seek-bar-root .seek-bar-progress {
    background: #0079D3
}

.reddit-video-player-root > div > * .reddit-video-seek-bar-root .seek-bar-floating {
    position: absolute;
    bottom: 45px;
    margin-bottom: 0px;
    left: 0;
    width: 96px;
    height: 54px;
    border: 1px solid #545452;
    background: #000;
    visibility: hidden;
    text-align: center
}

.reddit-video-player-root > div > * .reddit-video-seek-bar-root .seek-bar-floating video {
    width: 100%;
    height: 100%
}

.reddit-video-player-root > div > * .reddit-video-seek-bar-root .seek-bar-floating .seek-bar-time {
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    padding: 0 5px;
    height: 20px;
    font-family: Helvetica;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    color: #FFFFFF;
    transform: translateX(-50%);
    bottom: -25px;
    left: 50%;
    position: absolute
}

.reddit-video-player-root > div > * .reddit-video-volume-slider-root {
    position: relative
}

.reddit-video-player-root > div > * .reddit-video-volume-slider-root .volume-slider-container {
    height: 96px;
    width: 24px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    position: relative
}

.reddit-video-player-root > div > * .reddit-video-volume-slider-root .volume-slider-bar {
    width: 4px;
    border-radius: 2px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0
}

.reddit-video-player-root > div > * .reddit-video-volume-slider-root .volume-slider-track {
    background-color: rgba(255, 255, 255, 0.5);
    top: 8px;
    bottom: 8px;
    margin: 6px auto
}

.reddit-video-player-root > div > * .reddit-video-volume-slider-root .volume-slider-progress {
    background-color: #0079D3;
    height: 100%;
    bottom: 0
}

.reddit-video-player-root > div > * .reddit-video-volume-slider-root .volume-slider-thumb {
    position: absolute;
    left: -4px;
    top: -6px;
    margin-left: auto;
    margin-right: auto;
    width: 12px;
    height: 12px;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5)
}

.reddit-video-player-root > div > * .reddit-video-settings-root {
    position: relative
}

.reddit-video-player-root > div > * .reddit-video-settings-root .video-settings-container {
    padding: 8px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    position: relative;
    float: left;
    min-width: 70px
}

.reddit-video-player-root > div > * .reddit-video-settings-root .video-settings-container label {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #FFF;
    white-space: nowrap;
    cursor: pointer
}

.reddit-video-player-root > div > * .reddit-video-settings-root .video-settings-container label span {
    opacity: 0.5
}

.reddit-video-player-root > div > * .reddit-video-settings-root .video-settings-container label .hd {
    font-weight: bold;
    color: #0079D3
}

.reddit-video-player-root > div > * .reddit-video-settings-root .video-settings-container label:hover span {
    opacity: 1
}

.reddit-video-player-root > div > * .reddit-video-settings-root .video-settings-container label input {
    display: none
}

.reddit-video-player-root > div > * .reddit-video-settings-root .video-settings-container label input:checked ~ img {
    visibility: inherit
}

.reddit-video-player-root > div > * .reddit-video-settings-root .video-settings-container label input:checked ~ span {
    opacity: 1
}

.reddit-video-player-root > div > * .reddit-video-settings-root .video-settings-container label input:disabled ~ span {
    display: none
}

.reddit-video-player-root > div > * .reddit-video-settings-root .video-settings-container label img {
    visibility: hidden;
    width: 10px;
    height: 10px;
    margin-right: 5px
}

.reddit-video-player-root:-webkit-full-screen {
    width: 100vw !important;
    height: 100vh !important;
    border: none !important;
    max-width: none !important;
    max-height: none !important
}

.reddit-video-player-root:-webkit-full-screen .hide-on-fullscreen {
    display: none
}

.reddit-video-player-root:-moz-full-screen {
    width: 100vw !important;
    height: 100vh !important;
    border: none !important;
    max-width: none !important;
    max-height: none !important
}

.reddit-video-player-root:-moz-full-screen .hide-on-fullscreen {
    display: none
}

.reddit-video-player-root:-ms-fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    border: none !important;
    max-width: none !important;
    max-height: none !important
}

.reddit-video-player-root:-ms-fullscreen .hide-on-fullscreen {
    display: none
}

.reddit-video-player-root:fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    border: none !important;
    max-width: none !important;
    max-height: none !important
}

.reddit-video-player-root:fullscreen .hide-on-fullscreen {
    display: none
}